body{
    margin: 0;
    font-family: "Roboto";
    overflow-x: hidden;
}

a{
    color: black;
    text-decoration: none;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(243, 233, 241);
    box-shadow: 3px 3px 3px rgb(226, 203, 222);
    top: 0;
    right: 0;
    left: 0;
}

.logo
{
    width: 15%;
}

.logo img{
    object-fit: cover;
    width: 100%;
}

nav{
    font-size: 1.4em;
    margin-top: 35px;
}

nav li{
    padding-right: 35px;
    list-style: none;
    align-items: center;
    display: inline;
}

nav li:hover{
    color: rgb(231, 139, 6);
}

li a:hover{
    color: rgb(231, 139, 6);
}

.nav_icon{
    padding-right: 15px;
    color: rgb(231, 139, 6);
    background: linear-gradient(to right bottom, rgb(231, 139, 6),rgb(145, 92, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.produit{
    background-color: rgb(243, 233, 241);
    width: 90%;
    border-radius: 15px;
    margin-top: 68px;
    margin-left: 3%;
    padding-left: 4%;
    margin-bottom: 50px;
    box-shadow: 3px 3px 3px rgb(226, 203, 222);
}

#main{
    
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-bottom: 45px;
}

.card{
    margin-right: 20px;
    margin-top: 25px;
    width: 47%;
    background-color: white;
    border-radius: 15px;
    display: flex;
    height: 275px;
}

.card-img-top{
    object-fit: cover;
    height: 275px;
    border-radius: 15px 0px 0px 15px;
    width: 25em;
}

.card-body{
    padding-left: 15px;
}

.card-text_description{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: 40%;
    max-height: 59px;
}

h1{
    padding-top: 15px;
    margin-bottom: 0;
}


footer{
    background-color: rgb(243, 233, 241);
}

.logo_footer
{
    width: 10%;
}

.logo_footer img{
    object-fit: cover;
    width: 100%;
}

footer li{
    list-style:none;
    font-size: 1.1em;
    padding-top: 15px;
}