section{
    background-color: rgb(243, 233, 241);
    width: 57%;
    border-radius: 15px;
    margin-top: 75px;
    margin-left: 3%;
    padding-left: 5%;
    margin-left: 7%;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
}

section img{
    object-fit: cover;
    height: 300px;
    border: white solid 10px;
    border-radius: 8px;
    margin-top: 90px;
    margin-right: 5%;
}

.vignette_text{
    padding-right: 50px;
    padding-top: 25px;
}

h3{
    margin-top: 0;
    font-size: 1.7em;
}

.description{
    margin-bottom: 3px;
}

.ref{
    font-size: 0.8em;
    margin-top: 0;
}

.prix, form{
    background-color: white;
    border-radius: 15px;
    margin: 25px;
    margin-left: 0;
    padding: 25px;
    font-size: 1.7em;
}

.prix{
    width: 14%;
    height: 35px;
}

select, .btn{
    font-size: 1.4em;
    font-family: 'Roboto';
    padding: 15px;
    background-color: rgb(243, 233, 241);
    border: rgb(243, 233, 241);
    box-shadow: 3px 3px 3px rgb(226, 203, 222);
    border-radius: 5px;
}

.btn{
    width: 55%;
    height: 90px;
    background-color: white;
    border-radius: 25px;
    margin-top: 25px;
    margin-bottom: 25px;
}

button p{
    margin: 0;
}

.btn i{
    padding-right: 10px;
    color: rgb(231, 139, 6);
    background: linear-gradient(to right bottom, rgb(231, 139, 6),rgb(145, 92, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.prix_btn{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

form{
    font-size: 1.4em;
}

select{
    padding: 8px;
    margin-top: 5px;
}